# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/client/main
cmd/client/client
cmd/client/gophkeeper
cmd/client/gophkeeper-client
cmd/server/main
cmd/server/server
cmd/server/gophkeeper
cmd/client/gophkeeper-server
bin/*

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode

# node
node_modules

# configs
configs/server.yaml
configs/client.yaml

# data
data/*

# certificates
cert/*
